html, head, body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 0px;
  color: #FFF;
  background-color: #302C2C;
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
}


body {
  padding-top: 50px;
}

@font-face {
	font-family:'Glyphicons Halflings';
	src:url(../fonts/glyphicons-halflings-regular.eot);
	src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}